* {
    box-sizing: border-box;
    font-family: 微軟正黑體;
    margin: 0;
    padding: 0;
}


body {
    font-family: Roboto;
    font-weight: 400;

    font-size: 15px;
    line-height: 24px;
    color: #222;
    background-color: #f5f5f5;
    background-image: url(options.css);

}


html,
body {
    max-width: 100%;
    overflow-x: hidden;
}



button:focus {
    outline: none;
}


.navbar {
    box-shadow: 0 3px 18px rgba(0, 0, 0, .11);
}

nav {
    background-color: gray;
    width: 100%;
    position: relative;
    top: 0;
    box-shadow: 0px 0px 16px rgba(10, 10, 0, 11);
    height: 50px;
}


.bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.item {
    list-style-type: none;
    padding: 0 30px;
    margin: 0 5px;
}

.item:hover {
    background-color: rgb(0, 115, 255);
}

.item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.product {
    margin: 50px 30px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.figureCard {
    margin-left: 15px;
    margin-top: 20px;
    box-shadow: 0px 2px 2px rgba(20, 20, 20, 20);
}

.figureCard .img {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.text {
    background-color: white;
    margin: 10px 20px;
}

.itemlink {
    display: block;
    background-color: burlywood;
    height: 50px;
    width: 300px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 0px;
    cursor: pointer;
    outline: none;
}

.lit {
    background-color: rgb(194, 77, 77);
    position: absolute;
    color: rgb(137, 216, 156);
    top: 1120px;
    text-align: center;
    width: 100%;
    height: 30px;
    margin: 0 auto;
}

.itemlink:hover {
    background-color: rgb(230, 227, 77);
    color: rgb(0, 0, 0);
}

.img01 {
    background-image: url('../img/1111.jpg');
    width: 300px;
    height: 200px;
    background-size: cover;
}

.img02 {
    background-image: url('../img/2222.JPG');
    width: 300px;
    height: 200px;
    background-size: cover;
}

.img03 {
    width: 300px;
    height: 200px;
    background-image: url('../img/3333.JPG');
    background-size: cover;

}

.img04 {
    background-image: url('../img/4444.JPG');
    width: 300px;
    height: 200px;
    background-size: cover;
}

.float-right {
    float: right;
    margin: 0;
}


#header {
    background-image: url('../img/DSC_5101.jpg');
    background-size: 100%;
    background-attachment: fixed;
    padding: 200px 0;
    border-radius: 0;
    position: relative;
}



/*=============================================
=                  Intro                      =
=============================================*/
.intro-box {
    border-radius: 15px;
    margin-bottom: 15px;
    transition: all .5s ease-out;
    padding: 15px 15px;
    text-align: center;
}

.intro-box:hover {
    background: white;
    box-shadow: 0px 22px 22px rgba(25, 219, 18, 0.25);
}

.intro-line {
    width: 20px;
    height: 6px;
    border-radius: 3px;
    margin: 10px auto;
    transition: all .5s ease;
}

.intro-box:hover .intro-line {
    width: 40px;
}


/* TODO: 設定Hover特效 */

[id^='galleryImage'] {
    background-size: cover;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: grayscale(100%);
    transition: all .5s ease;
}


[id^='galleryImage']>.gallery-text {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    text-align: center;
    /*transition: all .5s ease;*/
}

[id^='galleryImage']:hover {
    filter: grayscale(0%);
}

[id^='galleryImage']:hover>.gallery-text {
    opacity: 1;
    font-size: 22px;
}

[id^='galleryImage']>.gallery-text {
    transition: all .5s ease-in-out;
}

/* 放入背景圖片 */

#galleryImage1 {
    background-image: url('../img/01.jpg');
}

#galleryImage2 {
    background-image: url('../img/02-01.jpg');
}

#galleryImage3 {
    background-image: url('../img/03-01.jpg');
}

#galleryImage4 {
    background-image: url('../img/04-01.jpg');
}

#galleryImage5 {
    background-image: url('../img/23.jpg');
}

#galleryImage6 {
    background-image: url('../img/24.jpg');
}

#galleryImage7 {
    background-image: url('../img/25.jpg');
}

#galleryImage8 {
    background-image: url('../img/26.jpg');
}





footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-end p {
    font-size: 8px;
    margin: 0;
}

#goBackBtn {
    width: 40px;
    height: 40px;
    border: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000;
    border-radius: 50%;
}

.ad-box {
    width: 300px;
    position: fixed;
    right: -275px;
    bottom: 80px;
    z-index: 100;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 6px;
    display: flex;
    box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
}

.ad-box.active {
    right: 0px;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #ddd;
}


.ad-toggle-btn {
    width: 25px;
    border: none;
    background-color: transparent;
    color: rgb(70, 199, 109);
    cursor: pointer;
}

.ad-toggle-btn>i {
    transform: rotateZ(90deg);
}

.ad-toggle-btn:hover {
    color: rgb(199, 79, 79);
}

.right-part {
    padding: 10px;
}

.right-part>p {
    margin-bottom: 0;
}